{{ with .Params.status }}
    {{ if eq "seeding" . }}
    <span class="status">Seeding 🌱 <img src='../static/img/icons8-r-50.png'> </span>
    {{ else if eq "growing" . }}
    <span class="status">Growing 🌿</span>
    {{ else if eq "evergreen" . }}
    <span class="status">Evergreen 🌳</span>
    {{ else if eq "python" . }}
    <span class="status"><img height="25" width="25"  src='/img/icons8-python-64.png'></span>
    {{ else if eq "javascript" . }}
    <span class="status"><img height="25" width="25" src='/img/icons8-javascript-64.png'></span>
    {{ else if eq "r" . }}
    <span class="status"><img height="25" width="25"  src='/img/icons8-r-50.png'></span>
    {{ else }}
    {{ end }}
{{ end }}
